<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
        <h1 id='hello-world'>{{message}}</h1>
        <h2>{{input}}</h2>
        <input type="text" v-model="input"/>
        <br/>
        <a v-bind:href="url">Hyperlink</a>
        <br/>
        <a :href="url">V-bind implied</a>
        <br/>
        <input type="text" v-model='key'/>
        <p v-if="key.length == 0">Enter a key</p>
        <p v-else-if="key.length > 0 && key.length < 8">Key requires 8 letters</p>
        <p v-else>Key complete, please submit</p>
        <button v-show="key.length >=8">Submit</button>
        <h1 id='counter'>{{counter}}</h1>
        <button v-on:click="counter+=1">increment</button>
        <button id='increment-by-five' v-on:click.ctrl="counter+=5">hold ctrl and click to add by 5</button>
        <h2>Event Listener Example: {{eventListenerExample}}</h2>
        <input type="text" v-model="newEventListenerExample" v-on:keyup="eventListenerExample = newEventListenerExample" />
        <h2>Shortcut Example: {{listenerShortcut}}</h2>
        <input type="text" v-model="newListenerShortcut" @keyup="listenerShortcut = newListenerShortcut" />
        <h2 id="increment-display">{{methodCounter}}</h2>
        <button id='increment' @click="increment()">increment with method</button>
        <button @click="increment">no parentheses</button>
        <h2>{{getFullName()}}</h2>
        <a id="todos-link" v-bind:href="todos">Todos</a>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'hello world',
                input: '',
                url: 'https://www.example.com',
                key: '',
                counter: 0,
                eventListenerExample: 'example',
                newEventListenerExample: '',
                listenerShortcut: 'shortcut',
                newListenerShortcut: '',
                methodCounter: 0,
                firstName: 'John',
                lastName: 'Smith',
                todos: './todos.html'
            },
            methods: {
                increment() {
                    this.methodCounter += 1;
                },
                getFullName() {
                    return `${this.firstName} ${this.lastName}` 
                }
            }
        })
    </script>
</body>
</html>