<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
        <h1>{{message}}</h1>
        <h2>{{input}}</h2>
        <input type="text" v-model="input"/>
        <br/>
        <a v-bind:href="url">Hyperlink</a>
        <br/>
        <a :href="url">V-bind implied</a>
        <br/>
        <input type="text" v-model='key'/>
        <p v-if="key.length == 0">Enter a key</p>
        <p v-else-if="key.length > 0 && key.length < 8">Key requires 8 letters</p>
        <p v-else>Key complete, please submit</p>
        <button v-show="key.length >=8">Submit</button>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'hello world',
                input: '',
                url: 'https://www.example.com',
                key: ''
            }
        })
    </script>
</body>
</html>